<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.thdev.mediacodec"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.thdev.mediacodecexample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Decoder/AudioDecoder -->
        <activity
            android:name="net.thdev.mediacodecexample.decoder.AudioDecoderActivity"
            android:exported="false"
            android:label="@string/activity_audio_decoder" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="net.thdev.mediacodecexample.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Decoder/VideoDecoder -->
        <activity
            android:name="net.thdev.mediacodecexample.decoder.VideoDecoderActivity"
            android:exported="false"
            android:label="@string/activity_video_decoder"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="net.thdev.mediacodecexample.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>